.body{
 width: 1600;
 height:1000
}

.draggable, .droppable {
    width: 100px;
    height: 100px;
    padding: 0.5em;
    display: inline-block;
    margin: 10px;
    border: 1px solid grey;
    background: white;
}
.draggable {
    height:30px;
    
}